.boom-panel {
    position: fixed;
    width: 250px;
    height: auto;
    border: 1px solid rgb(68, 68, 68);
    background-color: rgba(25, 25, 25, 0.75);
    backdrop-filter: blur(4px);
    color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
    border-radius: 8px;
    z-index: 999999;
    left: 100px;
    top: 100px;
    user-select: none;
}

.boom-header {
    margin: 0px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.boom-button {
    padding: 8px 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0px;
    background-color: rgba(55, 55, 55, 0.75);
    color: white;
}

.boom-slider {
    width: 100%;
    appearance: none;
    height: 8px;
    border-radius: 4px;
    background: rgb(50, 50, 50);
    outline: none;
    transition: background 0.3s;
    margin-top: 10px;
}